<%layout('/layouts/boilerplate')%>
<div class="row">
    <div class="col-8 offset-3">
        <h2>Listing-Details</h2>
    </div>
      <div class="card col-6 offset-3 show-card">
      <img src="<%=allListings.image%>" class="card-img-top show-img"  alt="listing_image">
      <div class="card-body">
      <p class="card-text">
       <%=allListings.title%>
        <br>
    &#8377; <%=allListings.price.toLocaleString("en-IN")%><br>
    <%=allListings.location%>
    <br>
    <%=allListings.country%>
      </p>
    </div>
  </div>
</div>
<div class="btns">
    <a href="/listing/<%=allListings._id%>/edit" class="btn btn-dark col-1 offset-3 add-btn" >Edit</a>
    <form action="/listing/<%=allListings._id%>?_method=Delete" method="post">
        <button class="btn btn-dark  offset-3 delete-btn">Delete</button>
    </form>
</div>
</div>